.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  min-width: 100px;
  max-height: 430px;
  background-color: #fff;
  z-index: 1;
}
.product_info {
  text-align: left;
  height: 100px;
  margin-bottom: 15px;
}
.product_info > .product_rating {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
.star_icon {
  color: rgb(189, 189, 12);
}
